<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('symfony_favicon.png') }}">
    </head>
    <body>
    ALL TODOS WILL BE VISIBLE HERE
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
