{% extends 'form_layout.twig' %}

{% block content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="container" style="margin-top: 100px">
        <div class="row justify-content-center">
            <div class="col-md-6" align="center">
                <h2>Please log in</h2>
                <form action="{{ path('login') }}" method="post">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="_name" value="{{ last_username }}" />

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password" />

                    <input type="hidden" name="_target_path" value="/">

                    <button class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}